<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sunrun.emailanalysis.mapper.DomainMapper" >
  <resultMap id="BaseResultMap" type="com.sunrun.emailanalysis.po.Domain" >
    <id column="domain_id" property="domainId" jdbcType="BIGINT" />
    <result column="domain_name" property="domainName" jdbcType="VARCHAR" />
    <result column="case_id" property="caseId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    domain_id, domain_name, case_id
  </sql>

  <delete id="clearCaseInfo" parameterType="java.lang.Long" >
    delete from ea_domain
    where case_id = #{caseId}
  </delete>


  <!-- query basic -->
  <select id="getDomainListCount" resultType="java.lang.Long">
    SELECT COUNT(*)
    FROM ea_domain
    <where>
      <if test="data.caseId != null">
        AND case_id = #{data.caseId}
      </if>
      <if test="data.keyword != null">
        AND domain_name LIKE CONCAT('%',#{data.keyword},'%')
      </if>
    </where>
  </select>


  <select id="getDomainList" resultType="java.util.HashMap">
    <bind name="offset" value="(data.pagination.pageIndex * data.pagination.pageSize) + data.pagination.shift"></bind>
    SELECT domain_id as domainId,
    domain_name as domainName,
    case_id as caseId
    FROM ea_domain
    <where>
      <if test="data.caseId != null">
        AND case_id = #{data.caseId}
      </if>
      <if test="data.keyword != null">
        AND domain_name LIKE CONCAT('%',#{data.keyword},'%')
      </if>
    </where>
    <if test="data.pagination.sort != null">
      ORDER BY
      <choose>
        <when test="data.pagination.sort == 'domainName'">domainName</when>
        <when test="data.pagination.sort == 'caseId'">caseId</when>
        <when test="data.pagination.sort == 'domainId'">domainId</when>
        <otherwise>
          domainId
        </otherwise>
      </choose>
      <if test="data.pagination.order != null">
        ${data.pagination.order}
      </if>
    </if>
    <if test = "data.pagination.pageIndex != -1">
      LIMIT #{offset},#{data.pagination.pageSize}
    </if>
  </select>
</mapper>