<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunrun.emailanalysis.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.sunrun.emailanalysis.po.User">
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, login_name, password
  </sql>

</mapper>